{{#section 'title'}}Lịch sử{{/section}} {{#section 'headTitle'}}Lịch sử{{/section}}

<div class="container">
    <div class="row" style="margin-bottom: 20px">
        <div class="col-lg-10 offset-md-1">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr align="center">
                                <th scope="col">Số thứ tự</th>
                                <th scope="col">Tên người dùng</th>
                                <th scope="col">Giỏ hàng</th>
                                <th scope="col">Ngày</th>
                            </tr>
                        </thead>
                        <tbody align="center" id="tbody">
                            {{#each myCart}}
                            <tr>
                                <th scope="row" class="id">{{ProdID}}</th>
                                <td>{{UserName}}</td>
                                <td>{{CartID}}</td>
                                <td class="price">{{Date}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <!-- Confirm button -->
                    <div class="col-md-4 offset-md-8" align="right">
                        <button class="btn btn-primary btnConfirm">Xác nhận</button>
                        <button class="btn btn-primary btnCancle">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>