{{#section 'title'}}Lịch sử{{/section}} {{#section 'headTitle'}}Lịch sử{{/section}}

<div class="container">
    <div class="row" style="margin-bottom: 20px">
        <div class="col-lg-10 offset-md-1">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr align="center">
                                <th scope="col">Mã giỏ hàng</th>
                                <th scope="col">Thời gian</th>
                                <th scope="col">Số lượng sản phẩm</th>
                                <th scope="col">Tổng tiền</th>
                                <th scope="col">Ghi chú</th>

                            </tr>
                        </thead>
                        <tbody class="body" align="center" id="tbody">
                            {{#each myCart}}
                            <tr class="detailCartBelow">
                                <form action="" method="post" class="postID">
                                    <input type="hidden" class="inputID" val="" name="CartID">
                                </form>
                                <th scope="row" class="id" name="CartID">{{CartID}}</th>
                                <td>{{Date}}</td>
                                <td>{{ProdCount}}</td>
                                <td>{{TotalPrice}}</td>
                                <td>
                                    <a href="#" class="showDetail">Chi tiết</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <!-- Confirm button -->
                    <div class="col-md-4 offset-md-8" align="right">
                        <button class="btn btn-primary btnConfirm" id="confirm">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{#section 'js'}}
<script>
    $("#confirm").on("click", () => {
        window.location.replace("/")
    })
</script>
<script>
    $(document).ready(() => {
        $(".showDetail").on("click", () => {
            let parent = $(".showDetail").parents(".detailCartBelow");
            let idTag = parent.find(".id")
            let getID = idTag.text();
            parent.find(".inputID").val(getID)
            parent.find(".postID").submit();
        })
    })   
</script> {{/section}}