{{#section 'title'}}Giỏ hàng{{/section}} {{#section 'headTitle'}}Giỏ hàng{{/section}}


<!-- Product table -->
<div class="container">
    <div class="row" style="margin-bottom: 20px">
        <div class="col-lg-10 offset-md-1">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Số thứ tự</th>
                                <th scope="col">Tên sản phẩm</th>
                                <th scope="col">Tình trạng</th>
                                <th scope="col">Đơn giá</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Motul 300V 4T 10W40 France</td>
                                <td>Còn hàng</td>
                                <td>400000</td>
                                <td>1</td>
                                <td>400000</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Motul 300V 4T 10W40 France</td>
                                <td>Còn hàng</td>
                                <td>400000</td>
                                <td>1</td>
                                <td>400000</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Motul 300V 4T 10W40 France</td>
                                <td>Còn hàng</td>
                                <td>400000</td>
                                <td>1</td>
                                <td>400000</td>
                            </tr>
                            <tr>
                                <th scope="row">Tổng cộng</th>
                                <td colspan="4"></td>
                                <td>1200000</td>

                            </tr>
                        </tbody>
                    </table>
                    <!-- Confirm button -->
                    <div class="col-md-4 offset-md-8" align="right">
                        <button class="btn btn-primary">Xác nhận</button>
                        <button class="btn btn-primary">Hủy</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>