{{#section 'title'}}Sản phẩm{{/section}} {{#section 'headTitle'}}Phụ gia{{/section}}

<!-- body -->
<div class="container" style="margin-bottom: 20px">
    <div class="row">
        {{#each prod}}
        <div class="col-md-3">
            <div class="img-thumbnail">
                <img src="{{ProdImage}}" alt="motul" height="250" width="230">
                <div class="caption">
                    <p class="h5">{{ProdName}}</p>
                    <p>Giá: {{ProdPrice}} VNĐ</p>
                    <p>
                        <button href="" class="btn btn-primary" role="button">Thêm vào giỏ hàng</button>
                    </p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>