{{#section 'title'}}Sản phẩm{{/section}} {{#section 'headTitle'}}Dầu nhớt{{/section}}

<!-- body -->
<div class="container" style="margin-bottom: 20px">
    <div class="row">
        {{#each prod}}
        <div class="col-md-3">
            <form class="flagForm" action="" method="post">
                <input type="hidden" value="{{ProdID}}" name="ProdID" class="value">
            </form>
            <div class="img-thumbnail">
                <img src="{{ProdImage}}" alt="motul" height="250" width="230">
                <div class="caption">
                    <p class="h5 prodName">{{ProdName}}</p>
                    <p class="prodPrice"> {{ProdPrice}} </p>
                    <p>
                        <button href="" class="btn btn-primary btnAddCart">Thêm vào giỏ hàng</button>
                    </p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

{{#section 'js'}}
<script>
    $(".btnAddCart").click(function () {
        const parent = $(this).parents('.col-md-3');
        parent.find(".flagForm").submit();
    });
</script> {{/section}}